.DS_Store
.rnd
.cache
.php_cs.cache
.php-cs-fixer.cache
.composer-history
.coverage
/vendor
/node_modules
.env
.aws.json
.idea/*
_ide_helper.php
_ide_macros.php
_ide_helper_models.php
.phpstorm.meta.php
/.generics/
yarn-error.log
npm-debug.log*
.phpunit.result.cache
composer.lock
/.phpunit.cache/
docker-compose.yml
/.local/
/bootraiser-test/
/auth.json
/.xdebugCoverage/
/.tmp/cache/nette.configurator/Container_8b758df18a.php
/.tmp/cache/nette.configurator/Container_8b758df18a.php.lock
/.tmp/cache/nette.configurator/Container_8b758df18a.php.meta
/.tmp/cache/nette.configurator/Container_647be17c12.php
/.tmp/cache/nette.configurator/Container_647be17c12.php.lock
/.tmp/cache/nette.configurator/Container_647be17c12.php.meta
/.tmp/cache/nette.configurator/Container_db421b470b.php
/.tmp/cache/nette.configurator/Container_db421b470b.php.lock
/.tmp/cache/nette.configurator/Container_db421b470b.php.meta
/.tmp/rector/42/7b/427be51e22d2fec12d8003cdff90548303fad345.php
/.tmp/rector/d4/78/d478ef5e0dac0aa0229cf189684021fb36e3aa65.php
/.editorconfig
/.tmp/
